{% extends 'base.html.twig' %}

{% block body %}
<div class="grid-container.fluid">

<div class="grid-x grid-padding-x menu">

<div class="large-3 medium-3 cell">
  <h1>*Logo*</h1>
</div>
<div class="large-9 medium-9 cell">
<form action="{{ path('login') }}" method="post">
  <input type="text" id="email" name="_username" placeholder="email" required />

  <input type="password" name="_password" placeholder="mot de passe" required />
  <input type="hidden" name="_target_path" value="{{  absolute_url(path("login")) }}" />
  <input type="submit" name="connexion" class="btn" value="Connexion"/>
</form>
</div>


</div>


<div class="grid-x grid-padding-x contenu">

  <div class="large-5 medium-12 cell">

    <h1>informations supplementaires </h1>

  </div>


<div class="large-7 medium-12 cell ">

  <h1>Inscription</h1>

  <form action="{{ path('register') }}" method="post" class="inscription">
  <!--<input type="text" name="username" id="username" placeholder="pseudo (3 à 15 caractères)" required />-->
    <input type="text" name="prenom" id="prenom" placeholder="Prénom" required />
    <input type="text" name="nom" id="nom" placeholder="Nom" required />
<br/>
  <input type="email" name="email" placeholder="e-Mail" required />
<br/>
  <input type="password" name="password" placeholder="Mot de passe (3 à 30 caractères)" required />
<input type="password" name="password2" placeholder="Confirmation du mot de passe" required />
<br/>
<br/>
<input type="hidden" name="_target_path" value="{{ path("register") }}" />
<input type="submit" name="inscription" class="btn contenu" value="Créer un compte">
</form>

</div>


</div>


<div class="grid-x grid-padding-x footer">
  <div class="large-12 medium-12 cell">
    <p class="footer">&copy; Aix-Marseille Université</p>
  </div>
</div>


</div>
{% endblock %}
